<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Symfony - Erreur 404</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
    	<div class="container">
			<div id="header" class="jumbotron" align="center">
				<h1>Oups! La page n'a pas été trouvée</h1>
				<img src="/symfony/404.jpg" />
				<h2>Le serveur a retourné le code "{{ status_code }}" et le texte "{{ status_text }}".</h2>
				<p>Peut-être l'url indiquée est incorrect, veuillez vérifier et réessayer. Sinon désolé hein!</p>
			</div>
		</div>
    </body>
</html>
